# DEA_2_2_his&merchants
***
所有的his中出现的 merchant_id 都在merchants.csv 里面吗？

In [1]:
import pandas as pd
import numpy as np

In [2]:
his = pd.read_csv('/root/data/historical_transactions.csv')
mer = pd.read_csv('/root/data/merchants.csv')

In [5]:
print(f'his shape: {his.shape[0]}')
print(f'his nunique: {his.merchant_id.nunique()}')
print(f'mer shape: {mer.shape[0]}')
print(f'mer nunique: {mer.merchant_id.nunique()}')

his shape: 29112361
his nunique: 326311
mer shape: 334696
mer nunique: 334633

为什么 **merchants.csv** 中会出现重复项？

In [24]:
mer.columns

Index(['merchant_id', 'merchant_group_id', 'merchant_category_id',
       'subsector_id', 'numerical_1', 'numerical_2', 'category_1',
       'most_recent_sales_range', 'most_recent_purchases_range',
       'avg_sales_lag3', 'avg_purchases_lag3', 'active_months_lag3',
       'avg_sales_lag6', 'avg_purchases_lag6', 'active_months_lag6',
       'avg_sales_lag12', 'avg_purchases_lag12', 'active_months_lag12',
       'category_4', 'city_id', 'state_id', 'category_2'],
      dtype='object')

In [10]:
size_se = mer.groupby('merchant_id').size()

In [16]:
abnormal_id = size_se[size_se > 1].index.values

In [22]:
idx = mer.merchant_id.apply(lambda x:x in abnormal_id)

In [25]:
mer[idx].head()

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
53,M_ID_c0b712e11a,35,823,25,-0.057471,-0.057471,N,E,E,1.00,...,1.00,1.000000,1,1.00,1.000000,1,N,231,9,1.0
54,M_ID_c0b712e11a,35,823,25,-0.007896,-0.007896,N,E,E,1.01,...,1.01,1.097119,6,1.20,1.190741,12,N,231,9,1.0
111,M_ID_0039220eb3,35,836,5,-0.057471,-0.057471,Y,E,E,0.66,...,0.66,0.666667,3,0.66,0.666667,3,Y,-1,-1,NaN
112,M_ID_0039220eb3,35,836,5,0.408530,0.408530,Y,C,D,1.17,...,1.17,1.087939,6,1.19,0.997021,12,Y,-1,-1,NaN
3392,M_ID_bd49e37dda,35,692,21,-0.057471,-0.057471,N,E,E,60.09,...,104.82,13.800000,5,104.82,13.800000,5,N,51,16,1.0