# Feature Engineering 1
* * *
这个 **FE** 中，经过之前的 **DEA** 分析，我们可以看到new与his两个文件的区别，仅仅是以2018年2月为节点，在此之前的归入his文件，在此之后的划入new中，所以，我们可以合并两个文件。并且，针对这个新的数据集，我们将作以下变换：         
**authorized_flag**我们将bool化该特征，并求出其count与mean。因为其值的不同预示着交易是否成功，所以推荐将 'N' 与 'Y' 分开成两个数据集。   

**city_id** nunqiue, mode          
**category_1** bool化，mean，count               
**installments** 'sum', 'mean', 'max', 'min', 'std'           
**category_3** 展开之后，mean  
**category_2** 展开之后，mean  
**merchant_category_id** nunique，mode          
**merchant_id** nunique，mode          
**state_id** nunique, mode
**subsector_id** nunique, mode
**month_lag**        
    首先创建**month_min**，用来衡量首次使用距离统计起始日的月份，        
    **month_max**,用来衡量最后一次使用距离统计起始日的月份，         
    **month_ptp**,用来衡量月份的跨度       
    **month_std**,用来衡量月份的方差           
**purchase_amount** 'sum', 'mean', 'max', 'min', 'std'           
**trans_purchase_amount = np.log(purchase_amount+0.75)** 'sum', 'mean', 'max', 'min', 'std'            
**purchase_date** 从中分离出来 dayofweek mode std，      
                  month std

In [1]:
%load_ext autoreload
%autoreload 2

import sys
import time
import dask.dataframe as dd
import pandas as pd
import numpy as np
from scipy.stats import mode
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

sys.path.append('/home/leechh/code/elo/Tools/')
from tools import *

In [2]:
new = dd.read_csv('/home/leechh/data/elo/new_merchant_transactions.csv')
his = dd.read_csv('/home/leechh/data/elo/historical_transactions.csv')
train = dd.read_csv('/home/leechh/data/elo/train.csv')
test = dd.read_csv('/home/leechh/data/elo/test.csv')

In [3]:
# authorized_flag


total = dd.concat([his, new]).reset_index(drop=True)


total['authorized_flag'] = total.authorized_flag.map({'N':0,'Y':1})
auth = total[total['authorized_flag'] == 1]
unauth = total[total['authorized_flag'] == 0]


agg = {
    'authorized_flag':['count', 'mean', 'sum']
}
auth_flag = total.groupby('card_id').agg(agg).reset_index(drop=True)
auth_flag.columns = ['_'.join(col).strip() for col in auth_flag.columns.values]

In [4]:
total.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,1,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,1,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,1,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,1,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,1,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37

In [ ]:
def agg_df(df):
    agg = {'city_id': ['nunique', lambda x:mode(x)[0][0]]}

In [5]:
def cal_mode(feature):
    return mode(feature)[0][0]
    

def cal_nunique(feature):
    return feature.nunique()
    

agg1 = {
    'merchant_id': [cal_nunique]
}
n = total.groupby('card_id').agg(agg1)

ValueError: unknown aggregate cal_nunique