# Feature Engineering 4
***
在这个 FE 中，我希望onehot化所有的分类数据

In [1]:
%load_ext autoreload
%autoreload 2

import sys
import time
import pandas as pd
import numpy as np
from datetime import datetime
from scipy.stats import mode
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

sys.path.append('/root/code/elo/Tools/')
from tools import *

In [2]:
new = pd.read_csv('/root/data/new_merchant_transactions.csv')
his = pd.read_csv('/root/data/historical_transactions.csv')
train = pd.read_csv('/root/data/train.csv')
test = pd.read_csv('/root/data/test.csv')

In [3]:
#对 his 与 new 的时间数据进行处理，创建特征该次交易距离起始时间的days
his['purchase_date'] = pd.to_datetime(his.purchase_date)
new['purchase_date'] = pd.to_datetime(new.purchase_date)

startime = his.purchase_date.min()

his['days_to_start'] = (his.purchase_date - startime).dt.days
new['days_to_start'] = (new.purchase_date - startime).dt.days

In [4]:
cate_col = [
    'category_3','category_2', 
    'state_id', 'subsector_id'
]

In [9]:
# authorized_flag

his.category_2.fillna(0, inplace=True)
his.category_3.fillna('D', inplace=True)
his.merchant_id.fillna('NaN', inplace=True)


new.category_2.fillna(0, inplace=True)
new.category_3.fillna('D', inplace=True)
new.merchant_id.fillna('NaN', inplace=True)


new['authorized_flag'] = new.authorized_flag.map({'N':0,'Y':1})
his['authorized_flag'] = his.authorized_flag.map({'N':0,'Y':1})

auth = his[his['authorized_flag'] == 1]
unauth = his[his['authorized_flag'] == 0]


agg = {
    'authorized_flag':['count', 'mean', 'sum']
}
auth_flag = his.groupby('card_id').agg(agg)
auth_flag.columns = ['_'.join(col).strip() for col in auth_flag.columns.values]
auth_flag.reset_index(inplace=True)

In [10]:
agg = {'authorized_flag': ['mean', 'count']}
flag_month = his.groupby(['card_id', 'month_lag']).agg(agg)
flag_month.columns = ['_'.join(col).strip() for col in flag_month.columns.values]
flag_month.reset_index(inplace=True)

# 找到对于每id来说，距离评估日最后的月成交数量与成交率
col_idx = ['authorized_flag_mean', 'authorized_flag_count']
row_idx = flag_month.groupby('card_id').month_lag.apply(lambda x: x.idxmax()).values
final = flag_month.loc[row_idx,col_idx].reset_index(drop=True)
final.columns = ['final_authorized_flag_mean', 'final_authorized_flag_count']
pd.merge(auth_flag, final, left_index=True, right_index=True)

# 找到对于每id来说，最开始的月成交数量与成交率
col_idx = ['authorized_flag_mean', 'authorized_flag_count']
row_idx = flag_month.groupby('card_id').month_lag.apply(lambda x: x.idxmin()).values
start = flag_month.loc[row_idx,col_idx].reset_index(drop=True)
start.columns = ['start_authorized_flag_mean', 'start_authorized_flag_count']
pd.merge(auth_flag, final, left_index=True, right_index=True)

# 找到对于每id来说，成交数量最高的月成交数量与成交率
auth_flag['max_authorized_flag_per_month'] = flag_month.groupby('card_id').authorized_flag_count.max().values

# 找到对于每id来说，成交数量最少的月成交数量与成交率
auth_flag['min_authorized_flag_per_month'] = flag_month.groupby('card_id').authorized_flag_count.min().values

del flag_month, his

In [11]:
def cal_mode(serise):
    return serise.mode()[0]


def agg_dataframe(df):
    
    df['category_1'] = df.category_1.map({'N':0, 'Y':1})
    df['log_amount'] = np.log(df.purchase_amount+0.75)
    df['month_diff'] = ((datetime.today() - df['purchase_date']).dt.days)//30
    df['month_diff'] += df['month_lag']
    df['dayofweek'] = df.purchase_date.apply(lambda t: t.dayofweek)
    df['month'] = df.purchase_date.apply(lambda t: t.month)
    
    agg = {
        'category_1': ['mean', 'count'],
        'city_id': ['nunique', cal_mode],
        'merchant_category_id': ['nunique', cal_mode],
        'merchant_id': ['nunique', cal_mode],
        'installments': ['sum', 'mean', 'max', 'min', 'std',np.median],
        'month_lag': ['min', 'max', np.ptp, 'std'],
        'days_to_start': [np.ptp, 'min', 'max', 'std', np.median],
        'purchase_amount': ['sum', 'mean', 'max', 'min', 'std', np.median],
        'log_amount': ['sum', 'mean', 'max', 'min', 'std',np.median],
        'month_diff': ['mean'],
        'dayofweek': [cal_mode, 'std'],
        'month': ['std']
    }
    agg_df = df.groupby(['card_id']).agg(agg)
    agg_df.columns = ['_'.join(col).strip() for col in agg_df.columns.values]
    agg_df.reset_index(inplace=True)
    
    return agg_df

In [12]:
agg_auth = agg_dataframe(auth)
agg_auth.columns = ['auth_' + c if c != 'card_id' else c for c in agg_auth.columns]
agg_unauth = agg_dataframe(unauth)
agg_unauth.columns = ['unauth_' + c if c != 'card_id' else c for c in agg_unauth.columns]
agg_new = agg_dataframe(new)
agg_new.columns = ['new_' + c if c != 'card_id' else c for c in agg_new.columns]

In [44]:
agg_unauth.fillna(0, inplace=True)
agg_new.fillna(0, inplace=True)

In [45]:
def cate(df, cate_col):
    cate_df = pd.DataFrame({'card_id': df.card_id.unique()})
    for i in cate_col:
        subdf = pd.get_dummies(df[i]).astype('bool')
        subdf['card_id'] = df['card_id']
        mean = subdf.groupby('card_id').mean()
        mean.columns = [i+'_'+str(col) for col in mean.columns]
        mean.reset_index(inplace = True)
        cate_df = pd.merge(cate_df, mean, on='card_id', how='left')
        del mean, subdf
    return cate_df

In [46]:
cate_auth = cate(auth, cate_col)
cate_auth.columns = ['auth_' + c if c != 'card_id' else c for c in cate_auth.columns]
cate_unauth = cate(unauth, cate_col)
cate_unauth.columns = ['unauth_' + c if c != 'card_id' else c for c in cate_unauth.columns]
cate_new = cate(new, cate_col)
cate_new.columns = ['new_' + c if c != 'card_id' else c for c in cate_new.columns]

In [55]:
def per_month(df):
    df['log_amount'] = np.log(df.purchase_amount+0.75)
    agg = {
        'purchase_amount': ['count', 'sum', 'mean', 'max', 'min', 'std', np.median],
        'installments': ['count', 'sum', 'mean', 'max', 'min', 'std', np.median],
        'log_amount': ['sum', 'mean', 'max', 'min', 'std',np.median]
    }
    df_month = df.groupby(['card_id', 'month_lag']).agg(agg)
    df_month.columns = ['._'.join(col).strip() for col in df_month.columns.values]
    df_month.reset_index(inplace=True)
    df_month.fillna(0, inplace=True)
    
    df_final = df_month.groupby('card_id').agg(['mean', 'std', 'max', 'min', np.median])
    df_final.columns = ['._'.join(col).strip() for col in df_final.columns.values]
    df_final.reset_index(inplace=True)
    
    return df_final

In [56]:
auth_final = per_month(auth)
auth_final.columns = ['final_auth_' + c if c != 'card_id' else c for c in auth_final.columns]

In [61]:
def successive_aggregates(df, field1, field2):
    t = df.groupby(['card_id', field1])[field2].mean()
    u = pd.DataFrame(t).reset_index().groupby('card_id')[field2].agg(['mean', 'min', 'max', 'std', np.median])
    u.columns = [field1 + '_' + field2 + '_' + col for col in u.columns.values]
    u.reset_index(inplace=True)
    u.fillna(0, inplace=True)
    return u

In [62]:
additional_fields = successive_aggregates(new, 'category_1', 'purchase_amount')
additional_fields = additional_fields.merge(successive_aggregates(new, 'installments', 'purchase_amount'),
                                            on = 'card_id', how='left')
additional_fields = additional_fields.merge(successive_aggregates(new, 'city_id', 'purchase_amount'),
                                            on = 'card_id', how='left')
additional_fields = additional_fields.merge(successive_aggregates(new, 'category_1', 'installments'),
                                            on = 'card_id', how='left')

In [64]:
train = pd.merge(train, auth_flag, on='card_id', how='left')
train = pd.merge(train, agg_auth, on='card_id', how='left')
train = pd.merge(train, agg_unauth, on='card_id', how='left')
train = pd.merge(train, auth_final, on='card_id', how='left')
train = pd.merge(train, agg_new, on='card_id', how='left')
train = pd.merge(train, cate_unauth, on='card_id', how='left')
train = pd.merge(train, cate_auth, on='card_id', how='left')
train = pd.merge(train, cate_new, on='card_id', how='left')
train = pd.merge(train, additional_fields, on='card_id', how='left')

In [65]:
test = pd.merge(test, auth_flag, on='card_id', how='left')
test = pd.merge(test, agg_auth, on='card_id', how='left')
test = pd.merge(test, agg_unauth, on='card_id', how='left')
test = pd.merge(test, auth_final, on='card_id', how='left')
test = pd.merge(test, agg_new, on='card_id', how='left')
test = pd.merge(test, cate_unauth, on='card_id', how='left')
test = pd.merge(test, cate_auth, on='card_id', how='left')
test = pd.merge(test, cate_new, on='card_id', how='left')
test = pd.merge(test, additional_fields, on='card_id', how='left')

In [ ]:
for i in train.columns:
    if train[i].dtype == object:
        print(i)

In [66]:
train['first_active_month'] = (pd.to_datetime(train['first_active_month']) - startime).dt.days
test['first_active_month'] = (pd.to_datetime(test['first_active_month']) - startime).dt.days

In [97]:
train[str_label]

,auth_merchant_id_cal_mode,unauth_merchant_id_cal_mode,new_merchant_id_cal_mode,feature_1,feature_2,feature_3,auth_city_id_cal_mode,unauth_city_id_cal_mode,new_city_id_cal_mode,auth_merchant_category_id_cal_mode,unauth_merchant_category_id_cal_mode,new_merchant_category_id_cal_mode
0,44919,407,5903,4,1,1,58,58,58,172,27,82
1,902,27209,37272,3,0,0,58,58,58,84,30,89
2,11295,30012,72859,1,1,0,123,123,123,209,240,171
3,9299,0,42141,3,2,0,15,307,15,77,290,24
4,34568,57871,835,0,2,0,15,0,15,77,221,82
5,38417,65058,39618,3,1,0,58,58,58,248,286,21
6,10922,2113,41236,2,1,1,138,138,138,209,240,5
7,9299,28266,5571,2,1,1,282,282,282,209,240,89
8,38228,59072,6794,1,0,0,150,0,150,209,285,24
9,15895,47226,54784,1,1,0,76,76,76,77,27,24
10,26467,17645,9923,4,1,1,104,104,104,209,240,111
11,2174,15921,77765,1,1,0,58,58,58,209,27,248
12,45591,47599,21420,4,1,1,18,18,18,84,96,111
13,23767,0,6686,1,0,0,83,307,83,84,290,89
14,9299,28310,25545,2,1,1,123,123,123,77,195,24
15,28504,59305,0,1,0,0,123,123,307,209,240,266
16,26648,30570,23741,1,1,0,75,0,75,84,250,27
17,15848,37014,64340,3,1,0,183,183,183,209,240,182
18,783,0,15707,1,0,0,17,307,17,209,290,162
19,38685,70247,26112,3,0,0,58,0,58,241,277,5
20,45550,15016,6481,4,1,1,277,277,288,77,150,89
21,12106,31273,0,0,1,0,0,0,307,60,69,266
22,12570,0,74557,1,1,0,17,307,17,204,290,162
23,9299,27217,29203,1,1,0,56,56,118,84,240,82
24,25620,45688,36167,4,0,1,163,163,163,84,259,13
25,37646,10863,0,1,1,0,58,58,307,209,240,266
26,42077,75193,15844,1,2,0,75,75,75,84,97,223
27,30125,0,68891,2,2,1,17,307,17,209,290,89
28,34747,0,592,4,0,1,121,307,121,84,290,13
29,11450,30246,21814,4,1,1,109,109,109,84,96,13
...,...,...,...,...,...,...,...,...,...,...,...,...
201887,18941,38234,15458,1,1,0,183,183,183,209,240,223
201888,21373,7885,14461,3,1,0,184,184,184,209,27,20
201889,12440,1462,9194,2,1,1,58,58,58,24,23,24
201890,12688,38,18349,1,1,0,254,254,78,84,96,12
201891,22229,46586,5414,4,1,1,202,202,202,132,150,24
201892,45348,10448,14264,3,2,0,217,217,217,13,240,163
201893,32152,52222,69821,4,0,1,136,136,136,209,240,49
201894,29995,32735,75058,1,1,0,1,1,7,24,89,47
201895,21432,76298,26941,4,0,1,217,217,0,77,231,13
201896,32510,70736,7077,2,2,1,45,45,136,24,279,223
201897,20440,38780,592,4,1,1,290,292,133,84,240,24
201898,38685,33186,73412,0,0,0,183,75,58,241,270,82
201899,9299,65042,13363,4,0,1,58,0,58,85,125,65
201900,41295,70247,25149,2,1,1,15,15,15,209,240,82
201901,9299,261,12466,2,1,1,250,250,250,204,23,223
201902,8621,9889,13618,0,2,0,102,102,102,84,96,89
201903,32275,60738,27075,2,1,1,58,58,58,209,27,24
201904,30263,58387,11564,2,2,1,18,18,182,209,240,223
201905,20049,75898,20625,2,1,1,129,0,129,209,222,82
201906,34747,59804,5468,2,1,1,121,121,121,77,54,89
201907,38685,0,64429,1,0,0,0,307,4,241,290,24
201908,4806,20014,58683,2,2,1,26,26,26,13,150,13
201909,9299,9383,4061,4,0,1,184,184,184,84,15,58
201910,42875,47596,32075,1,2,0,255,58,255,77,250,223
201911,9299,0,66354,2,2,1,148,307,148,13,290,83
201912,39155,261,48387,2,1,1,116,58,23,209,285,223
201913,46008,40427,77886,2,0,1,78,78,78,24,30,47
201914,23182,35882,19941,3,2,0,217,292,217,105,118,24
201915,45768,261,28900,2,1,1,58,58,58,209,141,58
201916,38685,71965,1321,2,0,1,0,0,23,241,195,82

In [95]:
str_label = [
    'auth_merchant_id_cal_mode',
    'unauth_merchant_id_cal_mode', 
    'new_merchant_id_cal_mode',
    'feature_1', 'feature_2', 'feature_3',
    'auth_city_id_cal_mode',
    'unauth_city_id_cal_mode',
    'new_city_id_cal_mode',
    'auth_merchant_category_id_cal_mode',
    'unauth_merchant_category_id_cal_mode',
    'new_merchant_category_id_cal_mode'
]
for i in str_label:
    le = LabelEncoder()
    train[i].fillna(1997, inplace=True)
    test[i].fillna(1997, inplace=True)
    unique = train[i].append(test[i]).unique().tolist()
    le.fit(unique)
    train[i] = le.transform(train[i].tolist())
    test[i] = le.transform(test[i].tolist())

In [98]:
train_drop33 = train[train.target>-30]

In [99]:
train_drop33.to_csv('/root/tempfile/train_final121702.csv',index=False)
test.to_csv('/root/tempfile/test_final121702.csv',index=False)