In [1]:
%load_ext autoreload
%autoreload 2

import sys
import time
import dask.dataframe as dd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

sys.path.append('/home/leechh/code/elo/Tools/')
from tools import *

# read & see one look

In [2]:
train = dd.read_csv('/home/leechh/data/elo/train.csv')

In [3]:
his = dd.read_csv('/home/leechh/data/elo/historical_transactions.csv')

In [6]:
his.describe().compute()

,city_id,installments,merchant_category_id,month_lag,purchase_amount,category_2,state_id,subsector_id
count,2.911236e+07,2.911236e+07,2.911236e+07,2.911236e+07,2.911236e+07,2.645950e+07,2.911236e+07,2.911236e+07
mean,1.293256e+02,6.484954e-01,4.810130e+02,-4.487294e+00,3.640090e-02,2.194578e+00,1.056679e+01,2.684839e+01
std,1.042563e+02,2.795577e+00,2.493757e+02,3.588800e+00,1.123522e+03,1.531896e+00,6.366927e+00,9.692793e+00
min,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.300000e+01,-7.469078e-01,1.000000e+00,-1.000000e+00,-1.000000e+00
25%,6.000000e+01,0.000000e+00,3.070000e+02,-5.000000e+00,-7.124971e-01,1.000000e+00,9.000000e+00,1.900000e+01
50%,1.050000e+02,1.000000e+00,5.110000e+02,-2.000000e+00,-6.570493e-01,1.000000e+00,9.000000e+00,3.300000e+01
75%,2.130000e+02,1.000000e+00,7.050000e+02,-1.000000e+00,-4.901197e-01,4.000000e+00,1.600000e+01,3.400000e+01
max,3.470000e+02,9.990000e+02,8.910000e+02,0.000000e+00,6.010604e+06,5.000000e+00,2.400000e+01,4.100000e+01

In [4]:
his.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 14 entries, authorized_flag to subsector_id
dtypes: object(6), float64(2), int64(6)

In [5]:
his.index.max().compute()

658957

In [7]:
his.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37

#  authorized_flag

In [8]:
flag_N = his.groupby('card_id').authorized_flag.apply(lambda x: sum(x=='N'))
flag_Y = his.groupby('card_id').authorized_flag.apply(lambda x: sum(x=='Y'))

In [13]:
flag_per = flag_N / flag_Y

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749